<IfModule mod_rewrite.c>
    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect /build/* into /public/build/*
    RewriteCond %{REQUEST_URI} ^/build/(.*)$
    RewriteRule ^build/(.*)$ public/build/$1 [L,QSA]

    # Ensure that public/api, public/build, etc., are accessible
    RewriteCond %{DOCUMENT_ROOT}/public/%{REQUEST_URI} -f [OR]
    RewriteCond %{DOCUMENT_ROOT}/public/%{REQUEST_URI} -d
    RewriteRule ^(.*)$ public/$1 [L,QSA]

    # Redirect all non-file requests to public/index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ public/index.php [L,QSA]
</IfModule>

<IfModule mime_module>
    AddHandler application/x-httpd-ea-php81___lsphp .php .php8 .phtml
</IfModule>
