.tiptap.ProseMirror {
    padding: 20px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    background-color: #e2e8f0;
    min-height: 250px;
}
.tiptap ul {
    list-style: outside;
}

.v-btn{
    margin-right: 10px;
}
.v-row{
    gap:2%
}